<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @job_user.user %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_user.job %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @job_user.accepted %>
</p>

<p>
  <strong>Role:</strong>
  <%= @job_user.role %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @job_user.rate %>
</p>

<%= link_to 'Edit', edit_job_user_path(@job_user) %> |
<%= link_to 'Back', job_users_path %>
