<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= I18n.t('mailer.new_applicant.congrats_line', name: @owner_name) %></h3>
    <p><%= I18n.t('mailer.new_applicant.job_line', name: @job_name) %></p>
    <h4><%= I18n.t('mailer.new_applicant.applicant_line', name: @user_name) %></h4>
    <p><%= I18n.t('mailer.new_applicant.contact_line') %></p>

    <p><a href="<%= @job_user_url %>"><%= @job_user_url %></a></p>

    <p><%= I18n.t('mailer.signoff') %></p>
  </body>
</html>
