<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('mailer.job_performed_accept.congrats_line', name: @user_name) %></h1>
    <h3><%= I18n.t('mailer.job_performed_accept.performed_line', name: @owner_name) %></h3>
    <p><%= I18n.t('mailer.job_performed_accept.job_line'), name: @job_name %></p>
    <p><%= I18n.t('mailer.job_performed_accept.contact_line'), email: @owner_email %></p>

    <p><%= I18n.t('mailer.signoff') %></p>
  </body>
</html>
