<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats <%= @owner_name %>!</h1>
    <h3>You've got a new applicant for your job '<%= @job_name %>'!</h3>
    <p>The applicant is: '<%= @user_name %>' and lives in your area.</p>
    <p>Contact details: <%= @user_email %>, <%= @user_phone %></p>

    <p>Have a great day!</p>
  </body>
</html>
