<%= simple_format(
  I18n.t(
    'mailer.update_data_reminder.introduction_body',
    job_name: link_to(@job.name.truncate(30), @job_url)
  ).html_safe
) %>

<% if @missing_cv %>
  <%= simple_format(
    I18n.t(
      'mailer.update_data_reminder.cv_upload_body',
      url: link_to(
        I18n.t('mailer.update_data_reminder.update_cv_link'),
        @profile_update_url
      )
    ).html_safe
  ) %>
<% end %>

<% if @missing_competences %>
  <%= simple_format I18n.t('mailer.update_data_reminder.competence_list_title') %>

  <ul>
  <% @missing_languages.each do |language| %>
    <li><%= language.name %></li>
  <% end %>
  <% @missing_skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  </ul>

  <%= simple_format(
    I18n.t(
      'mailer.update_data_reminder.competence_update_body',
      url: link_to(
        I18n.t('mailer.update_data_reminder.update_competences_link'),
        @profile_update_url
      )
    ).html_safe
  ) %>
<% end %>

<p><%= I18n.t('mailer.signoff') %></p>
