<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner_user_id %><br>
    <%= f.number_field :owner_user_id %>
  </div>
  <div class="field">
    <%= f.label :max_rate %><br>
    <%= f.number_field :max_rate %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :job_date %><br>
    <%= f.datetime_select :job_date %>
  </div>
  <div class="field">
    <%= f.label :performed %><br>
    <%= f.check_box :performed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
