<h3><%= I18n.t('mailer.digest_created.digest_created_body') %></h3>
<p><%= I18n.t('mailer.digest_created.digest_created_body') %></p>

<%= render(
  'mailer_partials/action_button',
  url: @unsubscribe_url,
  title: I18n.t('mailer.digest_created.update_settings'),
  align: :center
) %>


<% unless @user %>
<%= render 'mailer_partials/hr' %>
<p style="text-align: center">
  <strong><%= I18n.t('mailer.digest_created.user_register_signup_pitch') %></strong>
  <%= render(
    'mailer_partials/action_button',
    url: @user_regiser_url,
    title: I18n.t('mailer.digest_created.user_register_link_title'),
    align: :center
  ) %>
</p>
<% end %>
